$--transition-1: all .3s ease-out;
$--transition-2: all .3s ease-in;
$--transition-3: all .3s ease-in-out;
$--radius: 10px;
$--shadow: 8px 14px 24px -6px rgba(0,0,0,0.38);
$--shadow-1: 4px 7px 12px -3px rgba(0,0,0,0.2);

:root {
    --transition-01-out: #{$--transition-1};
    --transition-02-in: #{$--transition-2};
    --transition-03-in-out: #{$--transition-3};
}